/* GENERAL */
.root {
    -fx-font-family: Arial;
}

/* LABEL */
.label {
    -fx-text-fill: black;
}

.text {
    -fx-text-fill: black;
}

.background-pane {
    -fx-background-color: #d0e8ff;
}

/* TOPBAR */
.top-bar {
    -fx-background-color: #7da0d6;
    -fx-border-color: black;
    -fx-border-width: 0 0 1 0;
}

.top-bar-text {
    -fx-font-weight: bold;
    -fx-font-size: 28px;
    -fx-text-fill: black !important;
    -fx-cursor: hand;
}
.top-bar-text:hover {
    -fx-text-fill: #2c3e50 !important;
}

/* CONTAINER */
.form-container {
    -fx-background-color: #d0e8ff;
    -fx-border-color: #7da0d6;
    -fx-border-width: 3px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
}

/* INPUT (TEXTFIELD) */
.input-field {
    -fx-background-color: #e6f2ff;
    -fx-border-color: #7da0d6;
    -fx-border-width: 2px;
    -fx-text-fill: black;
    -fx-prompt-fill: gray;
}

.input-field .content {
    -fx-background-color: #e6f2ff;
}

/* PRIMARY BUTTON */
.primary-button {
    -fx-background-color: #7da0d6;
    -fx-border-color: black;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 16pt;
    -fx-cursor: hand;
}
.primary-button:hover {
    -fx-background-color: #5b80b6;
}

/* DELETE ACCOUNT BUTTON */
.delete-account-button {
    -fx-background-color: #ff4444;
    -fx-border-color: black;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 16pt;
    -fx-cursor: hand;
}

.delete-account-button:hover {
    -fx-background-color: #cc0000;
}

.compact-button {
    -fx-padding: 5px 2px 5px 2px;
    -fx-font-size: 14px;
    -fx-text-alignment: center;
}

/* TEXT LINK */
.text-link {
    -fx-fill: black;
    -fx-font-weight: bold;
    -fx-underline: true;
    -fx-cursor: hand;
}
.text-link:hover {
    -fx-fill: #5b80b6;
}

/* HOMEPAGE */
/* WELCOME SENTENCE */
.welcome-title {
    -fx-font-weight: bold;
    -fx-font-size: 28px;
    -fx-text-fill: black;
}

/* CARD CONTAINER */
.homepage-container {
    -fx-spacing: 30px;
    -fx-alignment: CENTER;
    -fx-padding: 5px 30px 30px 30px;
}

/* CARD */
.card-container {
    -fx-background-color: #e6f2ff;
    -fx-border-color: #7da0d6;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 0);
    -fx-pref-width: 250px;
    -fx-pref-height: 450px;
}

/* CARD IMAGE */
.card-image-placeholder {
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

/* CARD BUTTON */
.card-button {
    -fx-background-color: #7da0d6;
    -fx-border-color: black;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-cursor: hand;
    -fx-max-width: infinity;
}
.card-button:hover {
    -fx-background-color: #5b80b6;
}

/* INPUT ERROR EFFECT */
.input-error {
    -fx-border-color: #ff4444 !important;
    -fx-border-width: 2px;
}

/* MY PROFILE */
/* PROFILE FIELD */
.profile-field {
    -fx-background-color: transparent;
    -fx-border-color: #7da0d6;
    -fx-border-width: 0 0 3 0;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-padding: 0 0 5 0;
}

/* DISABLED PROFILE FIELD */
.profile-field:disabled {
    -fx-opacity: 1.0;
    -fx-text-fill: black;
}

/* TABLE */
/* PRIMARY CONTAINER */
.custom-table {
    -fx-background-color: white;
    -fx-border-color: #7da0d6;
    -fx-border-width: 1px;
}

/* TABLE HEADER */
.custom-table .column-header-background {
    -fx-background-color: #7da0d6;
    -fx-border-color: black;
    -fx-border-width: 0 0 1px 0;
}

.custom-table .column-header {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 0 1px 0 0;
    -fx-size: 35px;
}

.custom-table .column-header .label {
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
}

/* TABLE ROW */
.custom-table .table-row-cell {
    -fx-background-color: white;
    -fx-border-color: #e6e6e6;
    -fx-border-width: 0 0 1px 0;
}

/* ODD ROW */
.custom-table .table-row-cell:odd {
    -fx-background-color: #f0f8ff;
}

/* CELL */
.custom-table .table-cell {
    -fx-text-fill: black;
    -fx-alignment: CENTER;
    -fx-border-color: transparent;
}

/* SELECTED ROW */
.custom-table .table-row-cell:selected {
    -fx-background-color: #bcdbf7;
}

/* REMOVE EMPTY COLUMN */
.custom-table .filler {
    -fx-background-color: transparent;
}

/* SCROLLBAR */
.custom-table .scroll-bar:vertical .thumb {
    -fx-background-color: #7da0d6;
}

/* COMBOBOX */
.custom-combobox {
    -fx-background-color: #e6f2ff;
    -fx-border-color: #7da0d6;
    -fx-border-width: 2px;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

/* COMBOBOX BUTTON */
.custom-combobox .list-cell,
.custom-combobox .list-cell:filled:selected,
.custom-combobox .list-cell:filled:hover {
    -fx-text-fill: black;
}

/* RIGHT ARROW */
.custom-combobox .arrow-button {
    -fx-background-color: #7da0d6;
}
.custom-combobox .arrow {
    -fx-background-color: black;
}

/* COMBOBOX OPENING VIEW */
.custom-combobox .list-view {
    -fx-background-color: white;
    -fx-border-color: #7da0d6;
}

/* DATEPICKER */
.date-picker .text-field {
    -fx-background-color: #e6f2ff;
    -fx-border-color: #7da0d6;
    -fx-border-width: 2px;
}

/* CALENDAR BUTTON ICON */
.date-picker .arrow-button {
    -fx-background-color: #7da0d6;
}
.date-picker .arrow-button .arrow {
    -fx-background-color: black;
}

.date-picker-popup .disabled-cell {
    -fx-background-color: #e2dfdf;
    -fx-text-fill: #999999;
}



/* CHECKBOX */
.custom-checkbox {
    -fx-font-size: 14px;
    -fx-text-fill: black;
}

.custom-checkbox .box {
    -fx-background-color: #e6f2ff;
    -fx-border-color: #7da0d6;
    -fx-border-width: 2px;
}

/* SELECTED CHECKBOX OPTIONS */
.custom-checkbox:selected .mark {
    -fx-background-color: black;
}

/* RECAP */
.recap-field {
    -fx-background-color: transparent;
    -fx-border-color: #7da0d6;
    -fx-border-width: 0 0 3px 0;
    -fx-alignment: CENTER;

    -fx-font-size: 18px;
    -fx-text-fill: black;
    -fx-cursor: default;
}

.recap-field:focused {
    -fx-background-color: transparent;
    -fx-border-color: #5b80b6;
}

/* DELETE BUTTON */
.delete-button {
    -fx-background-color: #ff4444;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}

.delete-button:hover {
    -fx-background-color: #cc0000;
}

.success-label {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}




/* PROJECT IMAGES */
/* Guest-Athlete */
.events {
    -fx-background-image: url('../images/upcoming_events_coming_soon.jpg')
}

/* Athlete */
.book-session {
    -fx-background-image: url('../images/book_a_session.jpg')
}

.my-bookings {
    -fx-background-image: url('../images/my_bookings.jpg')
}

/* Personal Trainer */
.new-event {
    -fx-background-image: url('../images/new_event_coming_soon.jpg')
}

.manage-events {
    -fx-background-image: url('../images/manage_events_coming_soon.jpg')
}

.athlete-bookings {
    -fx-background-image: url('../images/my_bookings.jpg')
}